<!-- ----------------- serving ---------------------  -->

<section class="serving_main">
    <div>
        <h3>Proudly Serving</h3>
    </div>

    <div class="container">
        <div class="row align-items-center my-5 justify-content-center">
            <div class="col-md-3 d-flex justify-content-center" data-aos="fade-up" data-aos-duration="2000">
                <img src="../../../assets/serving1.png" />
            </div>
            <div class="col-md-3 d-flex justify-content-center" data-aos="fade-up" data-aos-duration="2000">
                <img src="../../../assets/serving2.png" />
            </div>
            <div class="col-md-3 d-flex justify-content-center" data-aos="fade-up" data-aos-duration="2000">
                <img src="../../../assets/serving3.png" />
            </div>
        </div>
    </div>
</section>