<!-- ---------------- contact ----------------- -->

<section class="contact_main">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div class="social_section">
                    <h5>LET'S TALK</h5>
                    <h4>Speak With Expert Engineers.</h4>

                    <div class="social_detail">
                        <div>
                            <img src="../../../assets/home_icon.png" alt="home-icon" />
                        </div>

                        <div class="mx-3">
                            <p>Email: <br /> <a href="mailto:Hello@Unnanu.com">Hello@Unnanu.com</a></p>
                        </div>
                    </div>
                    <div class="social_detail">
                        <div>
                            <img src="../../../assets/phone-icon.png" alt="home-icon" />
                        </div>

                        <div class="mx-3">
                            <p>Phone: <br /> <a href="tel:(512) 507-4975">(512) 507-4975 </a></p>
                        </div>
                    </div>
                    <div class="social_detail">
                        <div>
                            <img src="../../../assets/location_icon.png" alt="home-icon" />
                        </div>

                        <div class="mx-3">
                            <p>Address: <br /> <span>119 Nueces St, Austin TX 78701 </span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 subscribe_form">
                <div>
                    <h5>SUBSCRIBE</h5>
                    <h4>Fill The Form Below</h4>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Phone Number">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Website">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Your message Here" rows="3"></textarea>
                                </div>
                            </div>
                            <div>
                                <button class="submit_btn">Submit Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>