/* -------------------- contact ----------------- */

.contact_main {
    margin: 50px 0;
}

.social_section {
    background-color: #1B54B4;
    color: #fff;
    padding: 50px 15px;
}

.social_section h4 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.subscribe_form{
    margin-left: 25px;
}

.subscribe_form h5 {
    color: #1A53B4;
    font-size: 25px;
    font-weight: 600;
}

.subscribe_form h4 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.form-control {
    line-height: 2 !important;
    background-color: #EBEBEB;
    margin-bottom: 20px;
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid #1A53B4;
}

.submit_btn {
    background-color: #1B54B4;
    color: #fff;
    padding: 7px 25px;
    border-radius: 3px;
    border: 1px solid #1B54B4;
    transition: all 0.5s ease;
    font-weight: 900;
    font-size: 13px;
}

.submit_btn:hover {
    background: transparent;
    border: 1px solid #1B54B4;
    color: #1B54B4;
}

.social_detail {
    display: flex;
    margin-bottom: 20px;
}

.social_detail img {
    background: white;
    border-radius: 100px;
    width: 35px;
    height: 35px;
    padding: 10px;
}

.social_detail p {
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 700;
}

.social_detail p a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
}

.social_detail span {
    font-size: 12px;
    font-weight: 400 !important;
}


@media (max-width: 1200px) {
    .social_section h4 {
        font-size: 20px;
    }

    .social_section h5 {
        font-size: 16px;
    }

    .social_detail img {
        background: white;
        border-radius: 100px;
        width: 25px;
        height: 25px;
        padding: 7px;
    }

    .social_detail p, .social_detail span{
        font-size: 10px;
    }
}


@media (max-width: 767px) {
    /* ----------------------------- contact ----------------------- */

    .subscribe_form {
        margin: 30px 0;
    }
}