<!-- ------------ case studies ----------  -->

<section class="case_studies_main" id="caseStudy">
    <div class="case_studies_head_container">
        <h3>Case studies</h3>
        <p>Build meaningful connections with smart <br /> email marketing</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 d-flex align-items-center">
                <div class="row" style="overflow: hidden;">
                    <div class="col-md-5">
                        <div class="case_studies">
                            <div class="mb-5 tab_div" id="heard" (click)="tabChange('heard')">
                                <h3>HEARD LABS</h3>
                                <p>RESTAURANT TECHNLOGY REIMAGINED</p>
                            </div>
                            <div class="mb-5 tab_div" id="Pearson" (click)="tabChange('pearson')">
                                <h3>PEARSON</h3>
                                <p>HIGHER EDUCATION ENROLLMENT & ONBOARDING</p>
                            </div>
                            <div class="mb-5 tab_div" id="brand" (click)="tabChange('brand')">
                                <h3>BRAND BUZZ</h3>
                                <p>GAMIFIED SALES TRAINING TOOL</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="case_studies_stop_sifting" *ngIf="id === 'heard'" data-aos="zoom-in" data-aos-duration="1000">
                            <h3>Stop Data Shifting and Start Data Scoring</h3>
                            <p>Harness the power of artifical intelligence and machine learning to identify your most
                                qualified and matched content instantly.</p>

                            <div>
                                <button class="plans_btn">See Plans</button>
                                <button class="start_btn">Start for Free</button>
                            </div>
                        </div>

                        <div class="case_studies_stop_sifting" *ngIf="id === 'pearson'" data-aos="zoom-in" data-aos-duration="1000">
                            <h3>Stop Data Shifting</h3>
                            <p>Harness the power of artifical intelligence
                                qualified and matched content instantly.</p>

                            <div>
                                <button class="plans_btn">See Plans</button>
                                <button class="start_btn">Start for Free</button>
                            </div>
                        </div>

                        <div class="case_studies_stop_sifting" *ngIf="id === 'brand'" data-aos="zoom-in" data-aos-duration="1000">
                            <h3>Stop Data Shifting and Start</h3>
                            <p>Harness the power of artifical intelligence and machine learning to identify your most
                                </p>

                            <div>
                                <button class="plans_btn">See Plans</button>
                                <button class="start_btn">Start for Free</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="case_studies_image_container" *ngIf="id === 'heard'" data-aos="zoom-in" data-aos-duration="1000">
                    <img src="../../../assets/case-studies.png" alt="case-studies" />
                </div>
                <div class="case_studies_image_container" *ngIf="id === 'pearson'" data-aos="zoom-in" data-aos-duration="1000">
                    <img src="../../../assets/case-studies.png" alt="case-studies" />
                </div>
                <div class="case_studies_image_container" *ngIf="id === 'brand'" data-aos="zoom-in" data-aos-duration="1000">
                    <img src="../../../assets/case-studies.png" alt="case-studies" />
                </div>
            </div>
        </div>
    </div>
</section>