<!-- ------------ case studies ----------  -->

<section class="case_studies_main" id="caseStudy">
    <div class="case_studies_head_container">
        <h3>Case studies</h3>
        <p>Build meaningful connections with smart <br /> email marketing</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 d-flex align-items-center">
                <div class="row" style="overflow: hidden;">
                    <div class="col-md-5">
                        <div class="case_studies">
                            <div class="mb-5 tab_div" id="data" (click)="tabChange('data')">
                                <h3>Data</h3>
                                <p>DATA SHIFTING AND DATA SCORING</p>
                            </div>
                            <div class="mb-5 tab_div" id="media" (click)="tabChange('media')">
                                <h3>Media</h3>
                                <p>MEDIA SHIFTING AND MEDIA SCORING</p>
                            </div>
                            <div class="mb-5 tab_div" id="content" (click)="tabChange('content')">
                                <h3>Content</h3>
                                <p>CONTENT SHIFTING AND CONTENT SCORING</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="case_studies_stop_sifting" *ngIf="id === 'data'" data-aos="zoom-in"
                            data-aos-duration="1000">
                            <h3>Stop Data Shifting and Start Data Scoring</h3>
                            <p>Stop Data Shifting and Start Data Scoring</p>

                            <div>
                                <button class="plans_btn">See Plans</button>
                                <button class="start_btn">Start for Free</button>
                            </div>
                        </div>

                        <div class="case_studies_stop_sifting" *ngIf="id === 'media'" data-aos="zoom-in"
                            data-aos-duration="1000">
                            <h3>Stop Media Shifting and Start Media Scoring</h3>
                            <p>Stop Media Shifting and Start Media Scoring</p>

                            <div>
                                <button class="plans_btn">See Plans</button>
                                <button class="start_btn">Start for Free</button>
                            </div>
                        </div>

                        <div class="case_studies_stop_sifting" *ngIf="id === 'content'" data-aos="zoom-in"
                            data-aos-duration="1000">
                            <h3>Stop Content Shifting and Start Content Scoring</h3>
                            <p>Stop Content Shifting and Start Content Scoring</p>

                            <div>
                                <button class="plans_btn">See Plans</button>
                                <button class="start_btn">Start for Free</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="case_studies_image_container" *ngIf="id === 'data'" data-aos="zoom-in"
                    data-aos-duration="1000">
                    <img src="../../../assets/case-studies-data1.png" alt="case-studies" />
                </div>
                <div class="case_studies_image_container" *ngIf="id === 'media'" data-aos="zoom-in"
                    data-aos-duration="1000">
                    <img src="../../../assets/case-studies-media1.png" alt="case-studies" />
                </div>
                <div class="case_studies_image_container" *ngIf="id === 'content'" data-aos="zoom-in"
                    data-aos-duration="1000">
                    <img src="../../../assets/case-studies-content1.png" alt="case-studies" />
                </div>
            </div>
        </div>
    </div>
</section>