@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: 'Gotham Rounded';
    src: url('../../../assets/fonts/GothamRounded-Medium.woff2') format('woff2'),
        url('../../../assets/fonts/GothamRounded-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

.navbar {
    height: 80px;
}

.navbar-nav .nav-item {
    font-size: 12px;
    margin-right: 15px;
}

.logo img{
    max-width: 180px;
}

.navbar-collapse{
    background-color: #fff;
    padding: 20px;
    z-index: 3;
}

.navbar-nav button {
    border-style: none;
    border-radius: 14.55px;
    background: #ffb900;
    font-family: 'Gotham Rounded';
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    color: #fff;
    padding: 4px 30px;
}

.navbar-nav a {
    font-weight: normal;
    font-family: 'Gotham Rounded';
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    color: #266adc;
}

a.dropdown-item:active{
    color: #266adc !important;
    background-color: #fff !important;
}

.nav-item button a{
    text-decoration: none !important;
    color: #fff;
}


@media (max-width: 1200px) {
    .navbar-nav a{
        font-size: 11px;
    }
}