<nav class="navbar navbar-expand-lg">
    <div class="container">
        <div class="logo"><img src="../../../assets/main_logo.png" /></div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav mr-auto align-items-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"> VISION</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> WHY UNNANU</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        PRODUCTS
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" target="_blank" href="https://hire.unnanu.com/">UNNANU HIRE</a>
                        </li>
                        <li><a class="dropdown-item" target="_blank" href="https://talent.unnanu.com/">UNNANU TALENT</a>
                        </li>
                        <li><a class="dropdown-item" target="_blank" href="http://jobs.unnanu.com/">UNNANU JOBS</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#caseStudy"> CASE STUDY</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#testimonial"> TESTIMONIAL</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#blogs"> BLOG</a>
                </li>
                <li class="nav-item">
                    <button> <a href="#footer"> SUBSCRIBE </a></button>
                </li>

            </ul>
        </div>
    </div>
</nav>