<!-- ----------------- testimonial -----------------  -->
<section class="testimonial_section" id="testimonial">
    <div class="testimonial_heading">
        <h3>What Customer Saying</h3>
        <!-- <p>Perspiciatis unde omnis iste natus error sit voluptatem accus antium doloremque laudantium, totam rem
            aperiam, eaque <br />
            ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p> -->
    </div>
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
            <div class="my-5 slick_slider_text">
                <p> <span><img src="../../../assets/quote.png" style="width: 20px;" /></span>
                    {{slide.text}}
                </p>
                <div class="testimonial_name">
                    <img src={{slide.img}} alt="testimonial" />
                    <h5>{{slide.name}}</h5>
                </div>
                
            </div>
        </div>
    </ngx-slick-carousel>
</section>