/* ------------------- testimonial -------------------- */

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap'); */

ngx-slick-carousel.carousel.slick-initialized.slick-slider {
    max-width: 750px;
    margin: auto;
    text-align: center;
}

.testimonial_section {
    padding: 50px 0;
    padding: 30px 0;
    overflow: hidden;
}

.testimonial_heading {
    text-align: center;
}

.testimonial_heading h3 {
    font-size: 46px;
    color: #1b54b4;
    font-weight: 600;
    font-family: 'Frank Ruhl Libre', serif;
    line-height: 56px;
}

.testimonial_heading p {
    color: #404041;

}

.testimonial_name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.testimonial_name h5 {
    color: #071330;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

.testimonial_name img {
    width: 65px;
}

.slick_slider_text p {
    font-size: 18px;
    line-height: 33px;
    /* font-family: 'Poppins', sans-serif; */
}

.carousel.slick-initialized.slick-slider ul.slick-dots {
    position: static !important;
}

.slick-dots li.slick-active button:before {
    color: #1A53B4 !important;
    opacity: 0.75;
}

.slick-dots li button::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "•";
    width: 20px;
    height: 20px;
    font-family: "slick";
    font-size: 13px !important;
    line-height: 20px;
    text-align: center;
    color: black;
    opacity: 0.25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 767px) {

    /* ------------------------ testimonial --------------------- */
    .testimonial_heading h3 {
        font-size: 32px;
    }

    .slick_slider_text {
        padding: 20px;
    }
}