/* ------ about ------- */

@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;700&display=swap');

.about_main {
    padding: 50px 0;
}

.aboutus_image_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutus_image_container img {
    width: 570px;
    object-fit: cover;
    max-width: 100%;
}

.aboutus_text_container h3 {
    margin-bottom: 20px;
    font-size: 46px;
    color: #1b54b4;
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 700;
}


.aboutus_text_container {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.aboutus_text_container p {
    color: #404041;
    font-size: 19px;
    line-height: 23px;
}

.about_btn {
    background: #1b54b3;
    color: #fff;
    padding: 5px 50px;
    border-radius: 20px;
    border: 1px solid #266adc;
    transition: all 0.5s ease;
    font-size: 15px;
}

.about_btn:hover{
    background: transparent;
    border: 1px solid #266adc;
    color: #266adc;
}


@media (max-width: 1200px) {
    .aboutus_text_container p {
        font-size: 15px;
    }

    .about_btn {
        padding: 5px 30px;
        font-size: 12px;
    }
}

@media (max-width: 767px) {
    /* --------------- about --------------  */

    .about_btn {
        padding: 5px 30px;
        font-size: 12px;
    }
}