<!-- ---------- about ------------  -->

<section class="about_main">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="aboutus_image_container">
                    <p>Unnanu <span class="AI">AI</span>  and <span class="ML">ML</span> Technology in Action</p>
                    <img src="../../../assets/about-animation.gif" />
                </div>
            </div>
            <div class="col-md-6 d-flex">
                <div class="aboutus_text_container">
                    <div>
                        <h3>About Us</h3>
                        <p>Here let's document the 'why' factor of our new approach. Think in the angle of why people
                            would buy the new offering.</p>
                        <p>With market validation by Unnanu positioning to the market.We found out that we should be
                            concentrating on the technology with a differentiator,not the product.</p>
                        <button class="about_btn">See Plans</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>