<!-- home -->

<section class="main_home_section" id="home">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="data_shifting_text">
                    <div>
                        <h3>
                            <span> Stop </span>
                            <div class="swipe_word">
                                <ul class="flip3">
                                    <li class="text-center">Media</li>
                                    <li class="text-center">Content</li>
                                    <li class="text-center">Data</li>
                                </ul>
                            </div>
                            <span> Shifting </span>
                        </h3>
                    </div>
                    <div>
                        <h3>
                            <span>& start </span> 
                            <div class="swipe_word">
                                <ul class="flip3">
                                    <li class="text-center">Media</li>
                                    <li class="text-center">Content</li>
                                    <li class="text-center">Data</li>
                                </ul>
                            </div>
                            <span> Scoring  </span> 
                        </h3>
                    </div>
                    <div>
                        <h3> with  <span class="main_name"> UNNANU </span> </h3>
                    </div>
                    <p>Unnanu@ technology is a proven Artificial Intelligence (AI) and Machine Learning (ML) powered by
                        a weighted keyword search in a database designed to identify the most relevant information
                        faster.</p>
                    <div class="button_container">
                        <button class="plans_btn">See Plans</button>
                        <button class="start_btn">Start for Free</button>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="data_image_container">
                    <img src="../../../assets/home1.gif" alt="home1" />
                </div>
            </div>
        </div>
    </div>
</section>