<!-- Section 1 -->

<section class="main_home_section">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="data_shifting_text">
                    <h3>Stop <span>Data Shifting</span></h3>
                    <h3> and Start <span>Data Scoring</span> with <span>UNNANU</span> </h3>
                    <p>Leverage the email service that customer-first brands trust for reliable inbox delivery at
                        scale.
                    </p>
                    <div class="button_container">
                        <button class="plans_btn">See Plans</button>
                        <button class="start_btn">Start for Free</button>
                    </div>
                </div>
            </div>

            <div class="col-md-7">
                <div class="data_image_container">
                    <img src="../../../assets/home1.png" alt="home1" />
                </div>
            </div>
        </div>
    </div>
</section>