/* home */

.main_home_section {
    background: #f5f8ff;
}

.data_shifting_text {
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
}

.data_shifting_text h3 {
    font-size: 50px;
    color: #266adc;
    font-weight: 600;
}

.data_shifting_text p {
    font-size: 16px;
    color: #266adc;
    font-weight: 500;
}

.data_shifting_text span {
    color: #ffb800;
    ;
}

.data_shifting_text .button_container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 10px;
}


.plans_btn {
    padding: 5px 50px;
    background: #266adc;
    color: #fff;
    border-style: none;
    border-radius: 23px;
    font-size: 15px;
    transition: all 0.5s ease;
    border: 1px solid #266adc;
}

.plans_btn:hover {
    background: transparent;
    border: 1px solid #266adc;
    color: #266adc;
}

.start_btn {
    padding: 5px 50px;
    background-color: transparent;
    color: #266adc;
    border: 1px solid #266adc;
    border-radius: 23px;
    font-size: 15px;
    transition: all 0.5s ease;
}

.start_btn:hover {
    background: #266adc;
    color: #fff;
}

.data_image_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.data_image_container img {
    max-width: 100%;
}


#spin {
    color: #ffb800;
}

#spin:after {
    content: "Data";
    animation: spin 4s linear infinite;
}

@keyframes spin {
    0% { 
        content:"Data";
    }
    50% {
        content: "Content";
    }
    100% {
        content: "Media"
    }
  }



@media (max-width: 767px) {

    /* -------- home ---------  */
    .data_shifting_text {
        padding: 30px 20px;
        height: auto;
    }

    .data_shifting_text h3 {
        font-size: 30px;
    }

    .data_shifting_text p {
        font-size: 15px;
    }

    .plans_btn,
    .start_btn {
        padding: 5px 20px;
    }

    .data_image_container {
        height: auto;
        padding: 20px 0;
    }


}