/* home */

@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&display=swap');

.main_home_section {
    background: #f5f8ff;
}

.data_shifting_text {
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
}

.data_shifting_text h3 {
    font-size: 59px;
    color: #266adc;
    font-weight: 600;
    font-family: 'Frank Ruhl Libre', serif;
    display: flex;
}

.data_shifting_text .main_name{
    color: #ffb800;
}

.data_shifting_text h4{
    font-size: 59px;
    color: #266adc;
    font-weight: 600;
    font-family: 'Frank Ruhl Libre', serif;
}

.data_shifting_text p {
    font-size: 18px;
    color: #266adc;
    font-weight: 500;
}



.plans_btn {
    padding: 5px 50px;
    background: #266adc;
    color: #fff;
    border-style: none;
    border-radius: 23px;
    font-size: 15px;
    transition: all 0.5s ease;
    border: 1px solid #266adc;
    margin-right: 10px;
}

.plans_btn:hover {
    background: transparent;
    border: 1px solid #266adc;
    color: #266adc;
}

.start_btn {
    padding: 5px 50px;
    background-color: transparent;
    color: #266adc;
    border: 1px solid #266adc;
    border-radius: 23px;
    font-size: 15px;
    transition: all 0.5s ease;
}

.start_btn:hover {
    background: #266adc;
    color: #fff;
}

.data_image_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.data_image_container img {
    max-width: 100%;
}


#spin {
    color: #ffb800;
}

#spin:after {
    content: "Data";
    animation: spin 8s linear infinite;
}

@keyframes spin {
    0% {
        content: "Data";
    }

    50% {
        content: "Content";
    }

    100% {
        content: "Media"
    }
}


.swipe_word {
    overflow: hidden;
    position: relative;
    float: right;
    height: 65px;
    padding-top: 10px;
    margin-top: -10px;
}

.swipe_word ul li {
    font-family: 'Frank Ruhl Libre', serif;
    color: #ffb800;
    font-weight: 700;
    padding: 0 10px;
    height: 45px;
    margin-bottom: 45px;
    display: block;
}


.flip3 {
    animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
    padding-left: 0;
}

@keyframes flip3 {
    0% {
        margin-top: -270px;
    }

    5% {
        margin-top: -180px;
    }

    33% {
        margin-top: -180px;
    }

    38% {
        margin-top: -90px;
    }

    66% {
        margin-top: -90px;
    }

    71% {
        margin-top: 0px;
    }

    99.99% {
        margin-top: 0px;
    }

    100% {
        margin-top: -270px;
    }
}

@media (max-width: 300px) {
    .data_shifting_text h3 {
        font-size: 18px;
    }
}

@media (max-width: 1400px) {
    .data_shifting_text h3 {
        font-size: 48px;
    }
}

@media (max-width: 1200px) {

    /* -------- home ---------  */
    .data_shifting_text {
        padding: 30px 20px;
        height: auto;
    }

    .data_shifting_text h3 {
        font-size: 25px;
        height: 35px;
    }

    .data_shifting_text p {
        font-size: 15px;
    }

    .plans_btn,
    .start_btn {
        padding: 5px 20px;
        font-size: 12px;
    }

    .data_image_container {
        height: auto;
        padding: 20px 0;
    }
}


@media (max-width: 767px) {

    /* -------- home ---------  */
    .data_shifting_text {
        padding: 30px 20px;
        height: auto;
    }

    .data_shifting_text h3 {
        font-size: 25px;
    }

    .data_shifting_text p {
        font-size: 15px;
    }

    .plans_btn,
    .start_btn {
        padding: 5px 20px;
    }

    .data_image_container {
        height: auto;
        padding: 20px 0;
    }


}