<!-- -------------- blogs -------------  -->

<section class="blogs_main" id="blogs">
    <div class="latest_blogs_container">
        <h3>Our Blogs</h3>
        <p>We would like to keep you updated on technological trends <br /> by sharing
            information you might be interested in.
        </p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 d-flex justify-content-center">
                <div class="card">
                    <div class="card_image_container">
                        <img src="../../../assets/blog1.png" class="card-img-top" alt="card_img1" height="225">
                        <div class="overlay_btn_container">
                            <button class="card_btn">Job Seeker</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex mb-2">
                            <div>
                                <img src="../../../assets/calender_icon.png" />
                                <small>27 May 2022</small>
                            </div>

                            <div class="mx-3">
                                <img src="../../../assets/profile_icon.png" />
                                <small>Admin</small>
                            </div>
                        </div>
                        <h5 class="card-title">How a Job Seeker Found a Job Using Unnanu Talent</h5>
                        <p class="card-text">Erica was working as a front-end developer but had
                            problems with her company as she felt she didn’t have
                            a good work-life balance.</p>
                        <p class="card-text"><small class="learn_more">Learn More</small><img class="arrow_img"
                                src="../../../assets/arrow_right.png" alt="arrow" />
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 d-flex justify-content-center">
                <div class="card">
                    <div class="card_image_container">
                        <img src="../../../assets/blog2.png" class="card-img-top" alt="card_img2" height="225">
                        <div class="overlay_btn_container">
                            <button class="card_btn">onboarding</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex mb-2">
                            <div>
                                <img src="../../../assets/calender_icon.png" />
                                <small>27 May 2022</small>
                            </div>

                            <div class="mx-3">
                                <img src="../../../assets/profile_icon.png" />
                                <small>Admin</small>
                            </div>
                        </div>
                        <h5 class="card-title">Things you need to know about onboarding</h5>
                        <p class="card-text">The onboarding process of a new employee is the first interaction that
                            occurs between them and the employer after accepting an offer.</p>
                        <p class="card-text"><small class="learn_more">Learn More</small>
                            <img class="arrow_img" src="../../../assets/arrow_right.png" alt="arrow" />
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 d-flex justify-content-center">
                <div class="card">
                    <div class="card_image_container">
                        <img src="../../../assets/blog3.png" class="card-img-top" alt="card_img3" height="225">
                        <div class="overlay_btn_container">
                            <button class="card_btn">Interviews</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex mb-2">
                            <div>
                                <img src="../../../assets/calender_icon.png" />
                                <small>27 May 2022</small>
                            </div>

                            <div class="mx-3">
                                <img src="../../../assets/profile_icon.png" />
                                <small>Admin</small>
                            </div>
                        </div>
                        <h5 class="card-title">Interview formats that you should be aware of.</h5>
                        <p class="card-text">Interviewing is a wide subject, there are different styles and formats of
                            interviews. Unnanu’s last article explained different styles of interviews.</p>
                        <p class="card-text"><small class="learn_more">Learn More</small>
                            <img class="arrow_img" src="../../../assets/arrow_right.png" alt="arrow" />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>