<!-- --------- vision --------  -->

<section class="vision_section" id="vision">

    <div class="new_vision_text">
        <h3>Our Vision</h3>
        <p> Our vision is to bring relevant information to customers' fingertips </p>
    </div>
    <div class="container">
        <div class="row pb-3">
            <div class="col-md-4">
                <div class="focus_problem_container">
                    <div class="focus_problem_text">
                        <img src="../../../assets/problem_icon.png" alt="problem_icon" />
                        <h4 class="mt-4 text-center">FOCUS PROBLEM</h4>
                        <p class="mt-4">Unable to find relevant content in large amounts of content like electronic
                            files and/or media files.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="focus_solution_container">
                    <div class="focus_solution">
                        <img src="../../../assets/solution.png" />
                        <h4 class="mt-4">FOCUS SOLUTION</h4>
                        <p class="mt-4">Unnanu is a AI/Ml technology platform with a proprietary,proven AI/ML
                            powered weighted keyword search and evaluator designed.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="focus_vision_container">
                    <div class="focus_vision">
                        <img src="../../../assets/vision_icon.png" />
                        <h4 class="mt-4">FOCUS VISION</h4>
                        <p class="mt-4">Harness the power of artificial intelligence and machine learning to
                            identify best content by evaluating fast,effective,and bias free,so we</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>